<p id="notice"><%= notice %></p>
<h1>User Informations</h1>
<div style="overflow-x: scroll;">
<table border=1>
  <thead>
    <tr>
      <th>Residentschoolcode</th>
      <th>Stateid</th>
      <th>Districtentrydate</th>
      <th>Localstudentid</th>
      <th>Suffix</th>
      <th>Dateofbirth</th>
      <th>Studentgradelevel</th>
      <th>Residencystatus</th>
      <th>Entrydate</th>
      <th>Entrycode</th>
      <th>Exitdate</th>
      <th>Exitcode</th>
      <th>Exitdestdistrictcode</th>
      <th>Exitdestschoolcode</th>
      <th>Exitdestcomment</th>
      <th>Wk1att</th>
      <th>Wk1abs</th>
      <th>Wk1total</th>
      <th>Wk1average</th>
      <th>Wk2att</th>
      <th>Wk2abs</th>
      <th>Wk2total</th>
      <th>Wk2average</th>
      <th>Wk2avatt</th>
      <th>Wk3att</th>
      <th>Wk3abs</th>
      <th>Wk3total</th>
      <th>Wk3average</th>
      <th>Wk3attav</th>
      <th>Wk4att</th>
      <th>Wk4abs</th>
      <th>Wk4total</th>
      <th>Wk4average</th>
      <th>Wk4attav</th>
      <th>Wk5att</th>
      <th>Wk5abs</th>
      <th>Wk5total</th>
      <th>Wk5average</th>
      <th>Wk5attav</th>
      <th>Wk6att</th>
      <th>Wk6abs</th>
      <th>Wk6total</th>
      <th>Wk6average</th>
      <th>Wk6attav</th>
      <th>Wk7att</th>
      <th>Wk7abs</th>
      <th>Wk7total</th>
      <th>Wk7average</th>
      <th>Wk7attav</th>
      <th>Wk8att</th>
      <th>Wk8abs</th>
      <th>Wk8total</th>
      <th>Wk8average</th>
      <th>Wk8attav</th>
      <th>Wk9att</th>
      <th>Wk9abs</th>
      <th>Wk9total</th>
      <th>Wk9average</th>
      <th>Wk9attav</th>
      <th>Wk10att</th>
      <th>Wk10abs</th>
      <th>Wk10total</th>
      <th>Wk10average</th>
      <th>Wk10attav</th>
      <th>Wk11att</th>
      <th>Wk11abs</th>
      <th>Wk11total</th>
      <th>Wk11average</th>
      <th>Wk11attav</th>
      <th>Wk12att</th>
      <th>Wk12abs</th>
      <th>Wk12total</th>
      <th>Wk12average</th>
      <th>Wk12attav</th>
      <th>Wk13att</th>
      <th>Wk13abs</th>
      <th>Wk13total</th>
      <th>Wk13average</th>
      <th>Wk13attav</th>
      <th>Wk14att</th>
      <th>Wk14abs</th>
      <th>Wk14total</th>
      <th>Wk14average</th>
      <th>Wk14attav</th>
      <th>Wk15att</th>
      <th>Wk15abs</th>
      <th>Wk15total</th>
      <th>Wk15average</th>
      <th>Wk15attav</th>
      <th>Wk16att</th>
      <th>Wk16abs</th>
      <th>Wk16total</th>
      <th>Wk16average</th>
      <th>Wk16attav</th>
      <th>Wk17att</th>
      <th>Wk17abs</th>
      <th>Wk17total</th>
      <th>Wk17average</th>
      <th>Wk17attav</th>
      <th>Wk18att</th>
      <th>Wk18abs</th>
      <th>Wk18total</th>
      <th>Wk18average</th>
      <th>Wk18attav</th>
      <th>Wk19att</th>
      <th>Wk19abs</th>
      <th>Wk19total</th>
      <th>Wk19average</th>
      <th>Wk19attav</th>
      <th>Wk20att</th>
      <th>Wk20abs</th>
      <th>Wk20total</th>
      <th>Wk20average</th>
      <th>Wk20attav</th>
      <th>Wk21att</th>
      <th>Wk21abs</th>
      <th>Wk21total</th>
      <th>Wk21average</th>
      <th>Wk21attav</th>
      <th>Wk22att</th>
      <th>Wk22abs</th>
      <th>Wk22total</th>
      <th>Wk22average</th>
      <th>Wk22attav</th>
      <th>Wk23att</th>
      <th>Wk23abs</th>
      <th>Wk23total</th>
      <th>Wk23average</th>
      <th>Wk23attav</th>
      <th>Wk24att</th>
      <th>Wk24abs</th>
      <th>Wk24total</th>
      <th>Wk24average</th>
      <th>Wk24attav</th>
      <th>Wk25att</th>
      <th>Wk25abs</th>
      <th>Wk25total</th>
      <th>Wk25average</th>
      <th>Wk25attav</th>
      <th>Wk26att</th>
      <th>Wk26abs</th>
      <th>Wk26total</th>
      <th>Wk26average</th>
      <th>Wk26attav</th>
      <th>Wk27att</th>
      <th>Wk27abs</th>
      <th>Wk27total</th>
      <th>Wk27average</th>
      <th>Wk27attav</th>
      <th>Wk28att</th>
      <th>Wk28abs</th>
      <th>Wk28total</th>
      <th>Wk28average</th>
      <th>Wk28attav</th>
      <th>Wk29att</th>
      <th>Wk29abs</th>
      <th>Wk29total</th>
      <th>Wk29average</th>
      <th>Wk29attav</th>
      <th>Wk30att</th>
      <th>Wk30abs</th>
      <th>Wk30total</th>
      <th>Wk30average</th>
      <th>Wk30attav</th>
    </tr>
  </thead>
  <tbody>
    <% @user_informations.each do |user_information| %>
    <tr>
      <td><%= user_information.residentschoolcode %></td>
      <td><%= user_information.stateid %></td>
      <td><%= user_information.districtentrydate %></td>
      <td><%= user_information.user_id %></td>
      <td><%= user_information.suffix %></td>
      <td><%= user_information.dateofbirth %></td>
      <td><%= user_information.studentgradelevel %></td>
      <td><%= user_information.residencystatus %></td>
      <td><%= user_information.entrydate %></td>
      <td><%= user_information.entrycode %></td>
      <td><%= user_information.exitdate %></td>
      <td><%= user_information.exitcode %></td>
      <td><%= user_information.exitdestdistrictcode %></td>
      <td><%= user_information.exitdestschoolcode %></td>
      <td><%= user_information.exitdestcomment %></td>
      <td><%= user_information.wk1att %></td>
      <td><%= user_information.wk1abs %></td>
      <td><%= user_information.wk1total %></td>
      <td><%= user_information.wk1average %></td>
      <td><%= user_information.wk2att %></td>
      <td><%= user_information.wk2abs %></td>
      <td><%= user_information.wk2total %></td>
      <td><%= user_information.wk2average %></td>
      <td><%= user_information.wk2avatt %></td>
      <td><%= user_information.wk3att %></td>
      <td><%= user_information.wk3abs %></td>
      <td><%= user_information.wk3total %></td>
      <td><%= user_information.wk3average %></td>
      <td><%= user_information.wk3attav %></td>
      <td><%= user_information.wk4att %></td>
      <td><%= user_information.wk4abs %></td>
      <td><%= user_information.wk4total %></td>
      <td><%= user_information.wk4average %></td>
      <td><%= user_information.wk4attav %></td>
      <td><%= user_information.wk5att %></td>
      <td><%= user_information.wk5abs %></td>
      <td><%= user_information.wk5total %></td>
      <td><%= user_information.wk5average %></td>
      <td><%= user_information.wk5attav %></td>
      <td><%= user_information.wk6att %></td>
      <td><%= user_information.wk6abs %></td>
      <td><%= user_information.wk6total %></td>
      <td><%= user_information.wk6average %></td>
      <td><%= user_information.wk6attav %></td>
      <td><%= user_information.wk7att %></td>
      <td><%= user_information.wk7abs %></td>
      <td><%= user_information.wk7total %></td>
      <td><%= user_information.wk7average %></td>
      <td><%= user_information.wk7attav %></td>
      <td><%= user_information.wk8att %></td>
      <td><%= user_information.wk8abs %></td>
      <td><%= user_information.wk8total %></td>
      <td><%= user_information.wk8average %></td>
      <td><%= user_information.wk8attav %></td>
      <td><%= user_information.wk9att %></td>
      <td><%= user_information.wk9abs %></td>
      <td><%= user_information.wk9total %></td>
      <td><%= user_information.wk9average %></td>
      <td><%= user_information.wk9attav %></td>
      <td><%= user_information.wk10att %></td>
      <td><%= user_information.wk10abs %></td>
      <td><%= user_information.wk10total %></td>
      <td><%= user_information.wk10average %></td>
      <td><%= user_information.wk10attav %></td>
      <td><%= user_information.wk11att %></td>
      <td><%= user_information.wk11abs %></td>
      <td><%= user_information.wk11total %></td>
      <td><%= user_information.wk11average %></td>
      <td><%= user_information.wk11attav %></td>
      <td><%= user_information.wk12att %></td>
      <td><%= user_information.wk12abs %></td>
      <td><%= user_information.wk12total %></td>
      <td><%= user_information.wk12average %></td>
      <td><%= user_information.wk12attav %></td>
      <td><%= user_information.wk13att %></td>
      <td><%= user_information.wk13abs %></td>
      <td><%= user_information.wk13total %></td>
      <td><%= user_information.wk13average %></td>
      <td><%= user_information.wk13attav %></td>
      <td><%= user_information.wk14att %></td>
      <td><%= user_information.wk14abs %></td>
      <td><%= user_information.wk14total %></td>
      <td><%= user_information.wk14average %></td>
      <td><%= user_information.wk14attav %></td>
      <td><%= user_information.wk15att %></td>
      <td><%= user_information.wk15abs %></td>
      <td><%= user_information.wk15total %></td>
      <td><%= user_information.wk15average %></td>
      <td><%= user_information.wk15attav %></td>
      <td><%= user_information.wk16att %></td>
      <td><%= user_information.wk16abs %></td>
      <td><%= user_information.wk16total %></td>
      <td><%= user_information.wk16average %></td>
      <td><%= user_information.wk16attav %></td>
      <td><%= user_information.wk17att %></td>
      <td><%= user_information.wk17abs %></td>
      <td><%= user_information.wk17total %></td>
      <td><%= user_information.wk17average %></td>
      <td><%= user_information.wk17attav %></td>
      <td><%= user_information.wk18att %></td>
      <td><%= user_information.wk18abs %></td>
      <td><%= user_information.wk18total %></td>
      <td><%= user_information.wk18average %></td>
      <td><%= user_information.wk18attav %></td>
      <td><%= user_information.wk19att %></td>
      <td><%= user_information.wk19abs %></td>
      <td><%= user_information.wk19total %></td>
      <td><%= user_information.wk19average %></td>
      <td><%= user_information.wk19attav %></td>
      <td><%= user_information.wk20att %></td>
      <td><%= user_information.wk20abs %></td>
      <td><%= user_information.wk20total %></td>
      <td><%= user_information.wk20average %></td>
      <td><%= user_information.wk20attav %></td>
      <td><%= user_information.wk21att %></td>
      <td><%= user_information.wk21abs %></td>
      <td><%= user_information.wk21total %></td>
      <td><%= user_information.wk21average %></td>
      <td><%= user_information.wk21attav %></td>
      <td><%= user_information.wk22att %></td>
      <td><%= user_information.wk22abs %></td>
      <td><%= user_information.wk22total %></td>
      <td><%= user_information.wk22average %></td>
      <td><%= user_information.wk22attav %></td>
      <td><%= user_information.wk23att %></td>
      <td><%= user_information.wk23abs %></td>
      <td><%= user_information.wk23total %></td>
      <td><%= user_information.wk23average %></td>
      <td><%= user_information.wk23attav %></td>
      <td><%= user_information.wk24att %></td>
      <td><%= user_information.wk24abs %></td>
      <td><%= user_information.wk24total %></td>
      <td><%= user_information.wk24average %></td>
      <td><%= user_information.wk24attav %></td>
      <td><%= user_information.wk25att %></td>
      <td><%= user_information.wk25abs %></td>
      <td><%= user_information.wk25total %></td>
      <td><%= user_information.wk25average %></td>
      <td><%= user_information.wk25attav %></td>
      <td><%= user_information.wk26att %></td>
      <td><%= user_information.wk26abs %></td>
      <td><%= user_information.wk26total %></td>
      <td><%= user_information.wk26average %></td>
      <td><%= user_information.wk26attav %></td>
      <td><%= user_information.wk27att %></td>
      <td><%= user_information.wk27abs %></td>
      <td><%= user_information.wk27total %></td>
      <td><%= user_information.wk27average %></td>
      <td><%= user_information.wk27attav %></td>
      <td><%= user_information.wk28att %></td>
      <td><%= user_information.wk28abs %></td>
      <td><%= user_information.wk28total %></td>
      <td><%= user_information.wk28average %></td>
      <td><%= user_information.wk28attav %></td>
      <td><%= user_information.wk29att %></td>
      <td><%= user_information.wk29abs %></td>
      <td><%= user_information.wk29total %></td>
      <td><%= user_information.wk29average %></td>
      <td><%= user_information.wk29attav %></td>
      <td><%= user_information.wk30att %></td>
      <td><%= user_information.wk30abs %></td>
      <td><%= user_information.wk30total %></td>
      <td><%= user_information.wk30average %></td>
      <td><%= user_information.wk30attav %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>