<p id="notice"><%= notice %></p>

<p>
  <strong>Residentschoolcode:</strong>
  <%= @user_information.residentschoolcode %>
</p>

<p>
  <strong>Stateid:</strong>
  <%= @user_information.stateid %>
</p>

<p>
  <strong>Districtentrydate:</strong>
  <%= @user_information.districtentrydate %>
</p>

<p>
  <strong>Localstudentid:</strong>
  <%= @user_information.user_id %>
</p>

<p>
  <strong>Suffix:</strong>
  <%= @user_information.suffix %>
</p>

<p>
  <strong>Dateofbirth:</strong>
  <%= @user_information.dateofbirth %>
</p>

<p>
  <strong>Studentgradelevel:</strong>
  <%= @user_information.studentgradelevel %>
</p>

<p>
  <strong>Residencystatus:</strong>
  <%= @user_information.residencystatus %>
</p>

<p>
  <strong>Entrydate:</strong>
  <%= @user_information.entrydate %>
</p>

<p>
  <strong>Entrycode:</strong>
  <%= @user_information.entrycode %>
</p>

<p>
  <strong>Exitdate:</strong>
  <%= @user_information.exitdate %>
</p>

<p>
  <strong>Exitcode:</strong>
  <%= @user_information.exitcode %>
</p>

<p>
  <strong>Exitdestdistrictcode:</strong>
  <%= @user_information.exitdestdistrictcode %>
</p>

<p>
  <strong>Exitdestschoolcode:</strong>
  <%= @user_information.exitdestschoolcode %>
</p>

<p>
  <strong>Exitdestcomment:</strong>
  <%= @user_information.exitdestcomment %>
</p>

<p>
  <strong>Wk1att:</strong>
  <%= @user_information.wk1att %>
</p>

<p>
  <strong>Wk1abs:</strong>
  <%= @user_information.wk1abs %>
</p>

<p>
  <strong>Wk1total:</strong>
  <%= @user_information.wk1total %>
</p>

<p>
  <strong>Wk1average:</strong>
  <%= @user_information.wk1average %>
</p>

<p>
  <strong>Wk2att:</strong>
  <%= @user_information.wk2att %>
</p>

<p>
  <strong>Wk2abs:</strong>
  <%= @user_information.wk2abs %>
</p>

<p>
  <strong>Wk2total:</strong>
  <%= @user_information.wk2total %>
</p>

<p>
  <strong>Wk2average:</strong>
  <%= @user_information.wk2average %>
</p>

<p>
  <strong>Wk2avatt:</strong>
  <%= @user_information.wk2avatt %>
</p>

<p>
  <strong>Wk3att:</strong>
  <%= @user_information.wk3att %>
</p>

<p>
  <strong>Wk3abs:</strong>
  <%= @user_information.wk3abs %>
</p>

<p>
  <strong>Wk3total:</strong>
  <%= @user_information.wk3total %>
</p>

<p>
  <strong>Wk3average:</strong>
  <%= @user_information.wk3average %>
</p>

<p>
  <strong>Wk3attav:</strong>
  <%= @user_information.wk3attav %>
</p>

<p>
  <strong>Wk4att:</strong>
  <%= @user_information.wk4att %>
</p>

<p>
  <strong>Wk4abs:</strong>
  <%= @user_information.wk4abs %>
</p>

<p>
  <strong>Wk4total:</strong>
  <%= @user_information.wk4total %>
</p>

<p>
  <strong>Wk4average:</strong>
  <%= @user_information.wk4average %>
</p>

<p>
  <strong>Wk4attav:</strong>
  <%= @user_information.wk4attav %>
</p>

<p>
  <strong>Wk5att:</strong>
  <%= @user_information.wk5att %>
</p>

<p>
  <strong>Wk5abs:</strong>
  <%= @user_information.wk5abs %>
</p>

<p>
  <strong>Wk5total:</strong>
  <%= @user_information.wk5total %>
</p>

<p>
  <strong>Wk5average:</strong>
  <%= @user_information.wk5average %>
</p>

<p>
  <strong>Wk5attav:</strong>
  <%= @user_information.wk5attav %>
</p>

<p>
  <strong>Wk6att:</strong>
  <%= @user_information.wk6att %>
</p>

<p>
  <strong>Wk6abs:</strong>
  <%= @user_information.wk6abs %>
</p>

<p>
  <strong>Wk6total:</strong>
  <%= @user_information.wk6total %>
</p>

<p>
  <strong>Wk6average:</strong>
  <%= @user_information.wk6average %>
</p>

<p>
  <strong>Wk6attav:</strong>
  <%= @user_information.wk6attav %>
</p>

<p>
  <strong>Wk7att:</strong>
  <%= @user_information.wk7att %>
</p>

<p>
  <strong>Wk7abs:</strong>
  <%= @user_information.wk7abs %>
</p>

<p>
  <strong>Wk7total:</strong>
  <%= @user_information.wk7total %>
</p>

<p>
  <strong>Wk7average:</strong>
  <%= @user_information.wk7average %>
</p>

<p>
  <strong>Wk7attav:</strong>
  <%= @user_information.wk7attav %>
</p>

<p>
  <strong>Wk8att:</strong>
  <%= @user_information.wk8att %>
</p>

<p>
  <strong>Wk8abs:</strong>
  <%= @user_information.wk8abs %>
</p>

<p>
  <strong>Wk8total:</strong>
  <%= @user_information.wk8total %>
</p>

<p>
  <strong>Wk8average:</strong>
  <%= @user_information.wk8average %>
</p>

<p>
  <strong>Wk8attav:</strong>
  <%= @user_information.wk8attav %>
</p>

<p>
  <strong>Wk9att:</strong>
  <%= @user_information.wk9att %>
</p>

<p>
  <strong>Wk9abs:</strong>
  <%= @user_information.wk9abs %>
</p>

<p>
  <strong>Wk9total:</strong>
  <%= @user_information.wk9total %>
</p>

<p>
  <strong>Wk9average:</strong>
  <%= @user_information.wk9average %>
</p>

<p>
  <strong>Wk9attav:</strong>
  <%= @user_information.wk9attav %>
</p>

<p>
  <strong>Wk10att:</strong>
  <%= @user_information.wk10att %>
</p>

<p>
  <strong>Wk10abs:</strong>
  <%= @user_information.wk10abs %>
</p>

<p>
  <strong>Wk10total:</strong>
  <%= @user_information.wk10total %>
</p>

<p>
  <strong>Wk10average:</strong>
  <%= @user_information.wk10average %>
</p>

<p>
  <strong>Wk10attav:</strong>
  <%= @user_information.wk10attav %>
</p>

<p>
  <strong>Wk11att:</strong>
  <%= @user_information.wk11att %>
</p>

<p>
  <strong>Wk11abs:</strong>
  <%= @user_information.wk11abs %>
</p>

<p>
  <strong>Wk11total:</strong>
  <%= @user_information.wk11total %>
</p>

<p>
  <strong>Wk11average:</strong>
  <%= @user_information.wk11average %>
</p>

<p>
  <strong>Wk11attav:</strong>
  <%= @user_information.wk11attav %>
</p>

<p>
  <strong>Wk12att:</strong>
  <%= @user_information.wk12att %>
</p>

<p>
  <strong>Wk12abs:</strong>
  <%= @user_information.wk12abs %>
</p>

<p>
  <strong>Wk12total:</strong>
  <%= @user_information.wk12total %>
</p>

<p>
  <strong>Wk12average:</strong>
  <%= @user_information.wk12average %>
</p>

<p>
  <strong>Wk12attav:</strong>
  <%= @user_information.wk12attav %>
</p>

<p>
  <strong>Wk13att:</strong>
  <%= @user_information.wk13att %>
</p>

<p>
  <strong>Wk13abs:</strong>
  <%= @user_information.wk13abs %>
</p>

<p>
  <strong>Wk13total:</strong>
  <%= @user_information.wk13total %>
</p>

<p>
  <strong>Wk13average:</strong>
  <%= @user_information.wk13average %>
</p>

<p>
  <strong>Wk13attav:</strong>
  <%= @user_information.wk13attav %>
</p>

<p>
  <strong>Wk14att:</strong>
  <%= @user_information.wk14att %>
</p>

<p>
  <strong>Wk14abs:</strong>
  <%= @user_information.wk14abs %>
</p>

<p>
  <strong>Wk14total:</strong>
  <%= @user_information.wk14total %>
</p>

<p>
  <strong>Wk14average:</strong>
  <%= @user_information.wk14average %>
</p>

<p>
  <strong>Wk14attav:</strong>
  <%= @user_information.wk14attav %>
</p>

<p>
  <strong>Wk15att:</strong>
  <%= @user_information.wk15att %>
</p>

<p>
  <strong>Wk15abs:</strong>
  <%= @user_information.wk15abs %>
</p>

<p>
  <strong>Wk15total:</strong>
  <%= @user_information.wk15total %>
</p>

<p>
  <strong>Wk15average:</strong>
  <%= @user_information.wk15average %>
</p>

<p>
  <strong>Wk15attav:</strong>
  <%= @user_information.wk15attav %>
</p>

<p>
  <strong>Wk16att:</strong>
  <%= @user_information.wk16att %>
</p>

<p>
  <strong>Wk16abs:</strong>
  <%= @user_information.wk16abs %>
</p>

<p>
  <strong>Wk16total:</strong>
  <%= @user_information.wk16total %>
</p>

<p>
  <strong>Wk16average:</strong>
  <%= @user_information.wk16average %>
</p>

<p>
  <strong>Wk16attav:</strong>
  <%= @user_information.wk16attav %>
</p>

<p>
  <strong>Wk17att:</strong>
  <%= @user_information.wk17att %>
</p>

<p>
  <strong>Wk17abs:</strong>
  <%= @user_information.wk17abs %>
</p>

<p>
  <strong>Wk17total:</strong>
  <%= @user_information.wk17total %>
</p>

<p>
  <strong>Wk17average:</strong>
  <%= @user_information.wk17average %>
</p>

<p>
  <strong>Wk17attav:</strong>
  <%= @user_information.wk17attav %>
</p>

<p>
  <strong>Wk18att:</strong>
  <%= @user_information.wk18att %>
</p>

<p>
  <strong>Wk18abs:</strong>
  <%= @user_information.wk18abs %>
</p>

<p>
  <strong>Wk18total:</strong>
  <%= @user_information.wk18total %>
</p>

<p>
  <strong>Wk18average:</strong>
  <%= @user_information.wk18average %>
</p>

<p>
  <strong>Wk18attav:</strong>
  <%= @user_information.wk18attav %>
</p>

<p>
  <strong>Wk19att:</strong>
  <%= @user_information.wk19att %>
</p>

<p>
  <strong>Wk19abs:</strong>
  <%= @user_information.wk19abs %>
</p>

<p>
  <strong>Wk19total:</strong>
  <%= @user_information.wk19total %>
</p>

<p>
  <strong>Wk19average:</strong>
  <%= @user_information.wk19average %>
</p>

<p>
  <strong>Wk19attav:</strong>
  <%= @user_information.wk19attav %>
</p>

<p>
  <strong>Wk20att:</strong>
  <%= @user_information.wk20att %>
</p>

<p>
  <strong>Wk20abs:</strong>
  <%= @user_information.wk20abs %>
</p>

<p>
  <strong>Wk20total:</strong>
  <%= @user_information.wk20total %>
</p>

<p>
  <strong>Wk20average:</strong>
  <%= @user_information.wk20average %>
</p>

<p>
  <strong>Wk20attav:</strong>
  <%= @user_information.wk20attav %>
</p>

<p>
  <strong>Wk21att:</strong>
  <%= @user_information.wk21att %>
</p>

<p>
  <strong>Wk21abs:</strong>
  <%= @user_information.wk21abs %>
</p>

<p>
  <strong>Wk21total:</strong>
  <%= @user_information.wk21total %>
</p>

<p>
  <strong>Wk21average:</strong>
  <%= @user_information.wk21average %>
</p>

<p>
  <strong>Wk21attav:</strong>
  <%= @user_information.wk21attav %>
</p>

<p>
  <strong>Wk22att:</strong>
  <%= @user_information.wk22att %>
</p>

<p>
  <strong>Wk22abs:</strong>
  <%= @user_information.wk22abs %>
</p>

<p>
  <strong>Wk22total:</strong>
  <%= @user_information.wk22total %>
</p>

<p>
  <strong>Wk22average:</strong>
  <%= @user_information.wk22average %>
</p>

<p>
  <strong>Wk22attav:</strong>
  <%= @user_information.wk22attav %>
</p>

<p>
  <strong>Wk23att:</strong>
  <%= @user_information.wk23att %>
</p>

<p>
  <strong>Wk23abs:</strong>
  <%= @user_information.wk23abs %>
</p>

<p>
  <strong>Wk23total:</strong>
  <%= @user_information.wk23total %>
</p>

<p>
  <strong>Wk23average:</strong>
  <%= @user_information.wk23average %>
</p>

<p>
  <strong>Wk23attav:</strong>
  <%= @user_information.wk23attav %>
</p>

<p>
  <strong>Wk24att:</strong>
  <%= @user_information.wk24att %>
</p>

<p>
  <strong>Wk24abs:</strong>
  <%= @user_information.wk24abs %>
</p>

<p>
  <strong>Wk24total:</strong>
  <%= @user_information.wk24total %>
</p>

<p>
  <strong>Wk24average:</strong>
  <%= @user_information.wk24average %>
</p>

<p>
  <strong>Wk24attav:</strong>
  <%= @user_information.wk24attav %>
</p>

<p>
  <strong>Wk25att:</strong>
  <%= @user_information.wk25att %>
</p>

<p>
  <strong>Wk25abs:</strong>
  <%= @user_information.wk25abs %>
</p>

<p>
  <strong>Wk25total:</strong>
  <%= @user_information.wk25total %>
</p>

<p>
  <strong>Wk25average:</strong>
  <%= @user_information.wk25average %>
</p>

<p>
  <strong>Wk25attav:</strong>
  <%= @user_information.wk25attav %>
</p>

<p>
  <strong>Wk26att:</strong>
  <%= @user_information.wk26att %>
</p>

<p>
  <strong>Wk26abs:</strong>
  <%= @user_information.wk26abs %>
</p>

<p>
  <strong>Wk26total:</strong>
  <%= @user_information.wk26total %>
</p>

<p>
  <strong>Wk26average:</strong>
  <%= @user_information.wk26average %>
</p>

<p>
  <strong>Wk26attav:</strong>
  <%= @user_information.wk26attav %>
</p>

<p>
  <strong>Wk27att:</strong>
  <%= @user_information.wk27att %>
</p>

<p>
  <strong>Wk27abs:</strong>
  <%= @user_information.wk27abs %>
</p>

<p>
  <strong>Wk27total:</strong>
  <%= @user_information.wk27total %>
</p>

<p>
  <strong>Wk27average:</strong>
  <%= @user_information.wk27average %>
</p>

<p>
  <strong>Wk27attav:</strong>
  <%= @user_information.wk27attav %>
</p>

<p>
  <strong>Wk28att:</strong>
  <%= @user_information.wk28att %>
</p>

<p>
  <strong>Wk28abs:</strong>
  <%= @user_information.wk28abs %>
</p>

<p>
  <strong>Wk28total:</strong>
  <%= @user_information.wk28total %>
</p>

<p>
  <strong>Wk28average:</strong>
  <%= @user_information.wk28average %>
</p>

<p>
  <strong>Wk28attav:</strong>
  <%= @user_information.wk28attav %>
</p>

<p>
  <strong>Wk29att:</strong>
  <%= @user_information.wk29att %>
</p>

<p>
  <strong>Wk29abs:</strong>
  <%= @user_information.wk29abs %>
</p>

<p>
  <strong>Wk29total:</strong>
  <%= @user_information.wk29total %>
</p>

<p>
  <strong>Wk29average:</strong>
  <%= @user_information.wk29average %>
</p>

<p>
  <strong>Wk29attav:</strong>
  <%= @user_information.wk29attav %>
</p>

<p>
  <strong>Wk30att:</strong>
  <%= @user_information.wk30att %>
</p>

<p>
  <strong>Wk30abs:</strong>
  <%= @user_information.wk30abs %>
</p>

<p>
  <strong>Wk30total:</strong>
  <%= @user_information.wk30total %>
</p>

<p>
  <strong>Wk30average:</strong>
  <%= @user_information.wk30average %>
</p>

<p>
  <strong>Wk30attav:</strong>
  <%= @user_information.wk30attav %>
</p>

<%= link_to 'Edit', edit_user_information_path(@user_information) %> |
<%= link_to 'Back', user_informations_path %>
